@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


$background-blue: #B4D3E4;
$background-white: #fbfbfb;
$color-black: #000000;
$block-color-blue: #CFE2F3;
$block-color-yellow: #FFF2CC;
$block-color-purple: #B4A7D6;
$block-color-pink: #F4CCCC;
$block-color-green: #D9EFD1;
$block-color-orange: #F6B26B;
$block-color-wine: #A64D79;
$color-grey: #C4C4C4;

$font-family: 'Roboto', sans-serif;

/*media queries (sizes used by bootstrap) */ 
$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: $font-family;
    text-decoration: none;
}

body{
    overflow: hidden;
    
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    background-color: $background-blue;
}

.info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    &__title {
        color: $background-white;
        font-size: 40px;
        margin-bottom: 10px;
    }
    &__score {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    &__startButton {
        background-color: $background-white;
        padding: 5px 30px;
        font-size: 14px;
        cursor: pointer;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        border: 1px solid black;
    }
    &__audioControl{
        height: 20px;
        width: 20px;
        background-color: blue;
    }

    
    @media screen and (min-width: $small){
        &__startButton {
            padding: 10px 30px;
            font-size: 20px;
        }
    }
    @media screen and (min-width: $medium) {
        &__title {
            font-size: 50px;
            margin-bottom: 20px;
        } 
        &__score {
            margin-bottom: 20px;
        }
        &__startButton {
            margin-bottom: 20px;
        }
    }
}


.board {
    height: 400px;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    &__square {
        height: 20px;
        width: 20px;
    }
    
    @media screen and (min-width: $small){
        height: 600px;
        width: 300px;
        margin-top: 20px;
        &__square {
            height: 30px;
            width: 30px;
        }
    }
  

    .block {
        background-color: lightsalmon;
        box-shadow: 
        2px 2px 4px 0 rgb(255 255 255 / 59%) inset, -3px -3px 3px 0 rgb(0 0 0 / 25%) inset
    
    }
    .blocked {
        background-color: darkgray;
        box-shadow: 
        2px 2px 4px 0 rgb(255 255 255 / 59%) inset, -3px -3px 3px 0 rgb(0 0 0 / 25%) inset
    }
    
}

.header {
    background-color: $background-blue;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:  center;
    &__title1{
        width: 30%;
        text-align: left;
        font-size: 15px;
        color: $color-black;
    }
    &__title2{
        width: 20%;
        text-align: center;
        color: $background-white;
        font-size: 30px;
        margin-bottom: 10px;
    }
    &__img{

    }

    @media screen and (min-width: $small){
        &__title1{
            width: 30%;
            font-size: 20px;
        }
        &__title2{
            width: 20%;
            font-size: 40px;
        }
    }
    @media screen and (min-width: $medium){
        &__title1{
            width: 20%;
            font-size: 30px;
        }
        &__title2{
            width: 25%;
            font-size: 50px;
        }
    }
    @media screen and (min-width: $large){
        &__title1{
            width: 15%;
            font-size: 30px;
        }
        &__title2{
            width: 20%;
            font-size: 50px;
        }
    }
}

.modeButtons {
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: $background-white;
    .button {
        height: 70px;
        width: 400px;
        color: $background-white;
        box-shadow: 2px 2px 4px 0 rgb(255 255 255 / 59%) inset, -3px -3px 3px 0 rgb(0 0 0 / 25%) inset;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        div {
            font-size: 30px;
        }
        &:hover {
            box-shadow: 2px 2px 4px 0 rgb(0 0 0 / 59%) inset, -3px -3px 3px 0 rgb(255 255 255 / 25%) inset;
        }
        .scores {
            color: $color-black;
            
        }
    }
    &__easy{
        background-color: $block-color-green;
    }
    &__medium{
        background-color: $block-color-yellow;
    }
    &__hard{
        background-color: $block-color-wine;
    }
}



