@import "./base";

.header {
  background-color: $background-blue;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__title1 {
    width: 30%;
    text-align: left;
    font-size: 15px;
    color: $color-black;
  }
  &__title2 {
    width: 20%;
    text-align: center;
    color: $background-white;
    font-size: 30px;
    margin-bottom: 10px;
  }
  &__img {
  }

  @media screen and (min-width: $small) {
    &__title1 {
      width: 30%;
      font-size: 20px;
    }
    &__title2 {
      width: 20%;
      font-size: 40px;
    }
  }
  @media screen and (min-width: $medium) {
    &__title1 {
      width: 20%;
      font-size: 30px;
    }
    &__title2 {
      width: 25%;
      font-size: 50px;
    }
  }
  @media screen and (min-width: $large) {
    &__title1 {
      width: 15%;
      font-size: 30px;
    }
    &__title2 {
      width: 20%;
      font-size: 50px;
    }
  }
}

.modeButtons {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: $background-white;
  .button {
    height: 70px;
    width: 90%;
    max-width: 400px;
    color: $color-black;
    box-shadow: 2px 2px 4px 0 rgb(255 255 255 / 59%) inset,
      -3px -3px 3px 0 rgb(0 0 0 / 25%) inset;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    div {
      font-size: 20px;
      @media screen and (min-width: $small) {
        font-size: 30px;
      }
    }
    &:hover {
      box-shadow: 2px 2px 4px 0 rgb(0 0 0 / 59%) inset,
        -3px -3px 3px 0 rgb(255 255 255 / 25%) inset;
    }
  }
  &__easy {
    background-color: $block-color-green;
  }
  &__medium {
    background-color: $block-color-yellow;
  }
  &__hard {
    background-color: $block-color-wine;
  }
}

.instructionsModal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: rgb(0 0 0 / 50%);

  &__square {
    background-color: $background-white;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    overflow-y: scroll;
    height: 100%;
    @media screen and (min-width: $small) {
      height: auto;
    }
    h1 {
      text-align: center;
      margin-bottom: 25px;
    }
    h2 {
      margin-top: 25px;
      margin-bottom: 10px;
    }
    p {
      text-align: justify;
      margin-bottom: 5px;
    }
    ul {
      margin-left: 20px;
    }
    .closeButton {
      margin: 0 auto;
      display: block;
      background-color: $background-white;
      margin-top: 25px;
      text-align: center;
      border: none;
      padding: 10px 20px;
      color: $color-black;
      box-shadow: 2px 2px 4px 0 rgb(255 255 255 / 59%) inset,
        -3px -3px 3px 0 rgb(0 0 0 / 25%) inset;
      cursor: pointer;
      &:hover {
        box-shadow: 2px 2px 4px 0 rgb(0 0 0 / 59%) inset,
          -3px -3px 3px 0 rgb(255 255 255 / 25%) inset;
      }
    }
  }
}
